parameters:
  level: 6
  paths:
    - src
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: true
  reportUnmatchedIgnoredErrors: true
includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon